.todo__list,
.todo__empty-message {
  &:empty {
    display: none;
  }
}

.todo__list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}
