.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 404px;
  min-height: 429px;
  padding: 24px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.todo__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
